.App {
  text-align: center;
}

.Applogo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Applogo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Appheader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Applink {
  color: #61dafb;
}

@keyframes Applogospin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}
.displayweather {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
}

.displayweather .maincard {
  width: 500px;
  margin-top: 20px;
  align-self: center;
  padding: 90px;
  border-radius: 20px;
  position: relative;
  background: rgb(245, 242, 242);
  border: 1px solid black;
}

.displayweather .maincard .cardtitle {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
}

.displayweather .maincard .cardsubtitle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: grey;
  
}
.displayweather h1 {
  font-size: 4rem;
  position: absolute;
  top: 50px;
  left: 20px;
}

.displayweather .weathericon {
  width: 150px;
  right: 20px;
  position: absolute;
  top: 30px;
}

.displayweather .weathermain {
  position: absolute;
  top: 145px;
  left: 383px;
  font-weight: 500;
  font-size: 1.2rem;
}

.displayweather .weatherdescription {
  position: absolute;
  top: 50px;
  left: 10px;
  font-size: 1.4rem;
}
.displayweather .weatherdetails {
  margin-left: 50px;
  margin-right: 50px;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 20px;
}
.displayweather .weatherdetails .section1 {
  justify-self: right;
  width: 300px;
}

.h4 {
  text-align: left;
  margin-right: 30px;
  font-size: 1.2rem;
}

.td {
  border-bottom: 2px dashed grey;
}

.displayweather .weatherdetails span {
  font-size: 1.2rem;
}
.weather {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 20px;
  padding-bottom: 30px;
  width: 700px;
  padding: 0px 20px 20px 20px;
  margin-left: 25%;
}
.weather .title {
  font-size: 4rem;

  font-family: "Share Tech Mono", monospace;
}
.weather form {
  margin-top: 30px;
}
.weather form input {
  padding: 10px;
  border: none;
  border: 1px solid black;
  margin-right: 10px;
}

.weather form input:focus {
  outline: none;
  border-bottom: 3px dashed rgb(2, 57, 88);
}

.weather .getweather {
  margin-left: 10px;
  padding: 8px;
  font-size: 1.3rem;
  border: none;
  border-radius: 20px;
  border: 2px solid black;
  background: rgb(2, 57, 88, 0.8);
  cursor: pointer;
  color: whitesmoke;
}

.weather .getweather:hover {
  background: transparent;
  color: black;
}

.weather .getweather:focus {
  outline: none;
}

